* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

body {
  background-color: #2C3647;
}
a {
  color: inherit;
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
